{% extends 'website/baseweb.html' %}
{% load static %}
{% load bootstrap %}
{% load widget_tweaks %}

{% block main %}
<br>
<br>
<div class="container-fluid">
<!--Grid row-->
<div class="row">

  <!--Grid column-->
  <div class="col-md-4 mb-4">

    <!--Card-->
    <div class="card card-cascade narrower">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header blue-gradient">
        <h5 class="mb-0">Osório</h5>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body card-body-cascade text-center">

        <!--Google map-->
        <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="height: 300px">
          <<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10217.264528230346!2d-50.27656866345732!3d-29.887429776261467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2e2b06aa029eb447!2sUNIASSELVI+-+Polo+IEPAR+Os%C3%B3rio!5e0!3m2!1spt-BR!2sbr!4v1543766460452" width="100" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card-->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-4 mb-4">

    <!--Card-->
    <div class="card card-cascade narrower">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header peach-gradient">
        <h5 class="mb-0">Capão da Canoa</h5>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body card-body-cascade text-center">

        <!--Google map-->
        <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 300px">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3463.5565750571113!2d-50.02501268489134!3d-29.
            761543881986203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951878830c8ca26d%3A0xecdf70fb4a030c0e!2sUniasselvi!
            5e0!3m2!1spt-BR!2sbr!4v1542035009910" width="300" height="250" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
        </div>


      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card-->

  </div>
  <!--Grid column-->
  <div class="col-md-4 mb-4">

    <!--Card-->
    <div class="card card-cascade narrower">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header peach-gradient">
        <h5 class="mb-0">Porto Alegre</h5>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body card-body-cascade text-center">

        <!--Google map-->
        <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 300px">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2782.103262414982!2d-51.14419682082588!3d-30.00882626329299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951977072abbfc79%3A0xe793486235c3614d!2sUniasselvi!5e0!3m2!1spt-BR!2sbr!4v1543766746559" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>


      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card-->

  </div>
  <!--Grid column-->

</div>

<!--Grid row-->
{% endblock %}