{% extends 'website/baseweb.html' %}
{% load static %}

{% block main %}
<br>
<br>
<br>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Rotatorio</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">R$5,00 <small class="text-muted">/ hora</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Monitoramento 24 horas</li>
                    <li>Sem burocracia</li>
                    <li>Suporte por email</li>
                    <li>Acesso ao centro de ajuda</li>
                </ul>
                <a type="button" target="_blanck" class="btn btn-lg btn-block btn-outline-primary" href="https://api.whatsapp.com/send?phone=5551981349333&text=Ficamos%20felizes%20em%20atender%20voc%C3%AA!!!">Contrate via Whats</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Mensal</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">R$120,00 <small class="text-muted">/ mês</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Monitoramento 24 horas</li>
                    <li>Válido para todas as filiais</li>
                    <li>Acesso prioritário</li>
                    <br>
                </ul>
                <a type="button" target="_blanck" class="btn btn-lg btn-block btn-outline-primary" href="https://api.whatsapp.com/send?phone=5551981349333&text=Ficamos%20felizes%20em%20atender%20voc%C3%AA!!!">Contrate via Whats</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Anual</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">R$1.200,00 <small class="text-muted">/ ano</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Contrate 12 meses, e pague apenas 10</li>
                    <li>Monitoramento 24 horas</li>
                    <li>Válido para todas as filiais</li>
                    <li>Acesso prioritário</li>
                </ul>
                <a type="button" target="_blanck" class="btn btn-lg btn-block btn-outline-primary" href="https://api.whatsapp.com/send?phone=5551981349333&text=Ficamos%20felizes%20em%20atender%20voc%C3%AA!!!">Contrate via Whats</a>
            </div>
        </div>
    </div>

  


{% endblock %}