{% extends 'website/base.html' %}
{% load static %}

{% block main %}
<div class="row row-space">
    <div class="col12">
            Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, bibendum egestas augue arcu ut est. Suco de cevadiss, 
            é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Manduma pindureta quium dia nois paga. 
            A ordem dos tratores não altera o pão duris.

            Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Detraxit consequat et quo num tendi nada. 
            Suco de cevadiss deixa as pessoas mais interessantis. In elementis mé pra quem é amistosis quis leo.
            
            Copo furadis é disculpa de bebadis, arcu quam euismod magna. Quem num gosta di mim que vai caçá sua turmis! 
            Viva Forevis aptent taciti sociosqu ad litora torquent. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. 
            Sed non ipsum felis.
            
            Quem manda na minha terra sou euzis! Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Mauris nec 
            dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Praesent malesuada urna nisi, quis volutpat erat 
            hendrerit non. Nam vulputate dapibus.
    </div>
</div>
    <div class="row row-space">
        <div class="col-6">
                <img src="{% static 'img/24.jpg' %}" alt="Estacionamento 24 horas">
        </div>
        <div class="col-6">
                <img src="{% static 'img/24.jpg' %}" alt="Estacionamento 24 horas"> 
        </div>
    </div>
  


{% endblock %}