{%extends 'basenew.html' %}
{% block main %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Compartilhar</button>
            <button class="btn btn-sm btn-outline-secondary">Exportar</button>
          </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              Esta semana
            </button>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
       <h2>Título da seção</h2>
          <div class="col-sm-9">
            <h2>Lista Pessoas</h2>
              <table  class="table table-bordered sortable" >
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Checkin</th>
                      <th scope="col">Checkout</th>
                      <th scope="col">Valor-Hora</th>
                      <th scope="col">Placa</th>
                      <th scope="col">Pago</th>
                      <th scope="col">Horas</th>
                      <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mov in mov_rot %}
                    <tr>
                      <th scope="row" >{{mov.id}}</th>
                      <td > <a href="{%  url 'core_movrotativos_update' mov.id  %}" style="color:black">{{mov.checkin}} </a></td>
                      <td><a href="{%  url 'core_movrotativos_update' mov.id  %}" style="color:black">{{mov.checkout}}</a></td>
                      <td><a href="{%  url 'core_movrotativos_update' mov.id  %}" style="color:black">{{mov.valor_hora}}</a></td>
                      <td > <a href="{%  url 'core_movrotativos_update' mov.id  %}" style="color:black">{{mov.placa}} </a></td>
                      <td><a href="{%  url 'core_movrotativos_update' mov.id  %}" style="color:black">{{mov.pago}}</a></td>
                      <td><a href="{%  url 'core_movrotativos_update' mov.id  %}" style="color:black">{{mov.horas_total}}</a></td>
                      <td><a href="{%  url 'core_movrotativos_update' mov.id  %}" style="color:black">{{mov.total}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
                       
          </div>
  </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Pago"],
          datasets: [{
            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
     {% include 'core/footer.html' %}
  {% endblock %}