{%extends 'basenew.html' %}
{% load bootstrap %}
{% load widget_tweaks %}

{% block main %}

 <main role="main" class="col-md-12 ml-sm-auto col-lg-10 px-50">

    <div class="col-sm-12">
        <br>
        <br>
        <br>
        <h2>Cadastro de Rotativos</h2>
        <form action="{%  url 'core_movrotativos_novo'  %}" method="POST" novalidate>
            <div class="form-row">

                {% csrf_token %} {% for hidden_field in form.hidden_fields %} {{ hidden_field }} {% endfor %} {% for field in form.visible_fields %}
                <div class="form-group col-md-3">
                    {{ field.label_tag }} {% if form.is_bound %} {% if field.errors %} {% render_field field class="form-control is-invalid" %} {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %} {% else %} {% render_field field class="form-control is-valid" %} {% endif %} {% else %} {% render_field field class="form-control" %} {% endif %} {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small> {% endif %}
                </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Cadastrar</button>

        </form>

        <div class="col-sm-12">
            <h2>Lista Movimentos Rotativos</h2> {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <table class="table table-bordered sortable">
                <thead class="p-3 mb-2 bg-primary text-white">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Checkin</th>
                        <th scope="col">Checkout</th>
                        <th scope="col">Valor-Hora</th>
                        <th scope="col">Placa</th>
                        <th scope="col">Pago</th>
                        <th scope="col">Horas</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Chk</th>

                    </tr>
                </thead>
                <tbody>
                    {% for mov in mov_rot %}
                    <tr>
                        <th scope="row">{{mov.id}}</th>
                        <td> <a href="{%  url 'core_movrotativos_update' mov.id  %}" style="color:black">{{mov.checkin}} </a></td>
                        <td><a href="{%  url 'core_movrotativos_update' mov.id  %}" style="color:black">{{mov.checkout}}</a></td>
                        <td><a href="{%  url 'core_movrotativos_update' mov.id  %}" style="color:black">{{mov.valor_hora}}</a></td>
                        <td> <a href="{%  url 'core_movrotativos_update' mov.id  %}" style="color:black">{{mov.placa}} </a></td>
                        <td><a href="{%  url 'core_movrotativos_update' mov.id  %}" style="color:black">{{mov.pago}}</a></td>
                        <td><a href="{%  url 'core_movrotativos_update' mov.id  %}" style="color:black">{{mov.horas_total}}</a></td>
                        <td><a href="{%  url 'core_movrotativos_update' mov.id  %}" style="color:black">{{mov.total}}</a></td>
                        <td><a href="{%  url 'core_movrotativos_update' mov.id  %}" style="color:black">{{mov.chk}}</a></td>

                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>

</main>
 {% include 'core/footer.html' %}
{% endblock %}
