{%extends 'basenew.html' %}
{% load bootstrap %}
{% load widget_tweaks %}
{% block main %}

<main role="main" class="col-md-12 ml-sm-auto col-lg-10 px-50">
<div class="col-sm-12">
<br><br><br>
      <h2>Lista Mensalista</h2>
        <form action="{%  url 'core_mensalista_novo'  %}" method="POST" novalidate >
              <div class="form-row">
            {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  

  {% for field in form.visible_fields %}
    <div class="form-group col-md-2">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}


            <button type="submit" class="btn btn-primary">Cadastrar</button>
</div>
        </form>
    </div>

    <div class="col-sm-12">
            <h2>Lista Mensalistas</h2>
                {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
            <table class="table table-bordered sortable" >
                    <thead class="p-3 mb-2 bg-primary text-white">
                        <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Veículo</th>
                        <th scope="col">Início</th>
                        <th scope="col">Proprietário</th>
                        <th scope="col">Valor Mês</th>
                        <th scope="col">Mês</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Pago</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mensalista in mensalistas %}
                        <tr>
                        <th scope="row"  >{{mensalista.id}}</th>
                        <td><a href="{%  url 'core_mensalista_update' mensalista.id  %}" style="color:black">{{mensalista.veiculo}} </a></td>
                        <td><a href="{%  url 'core_mensalista_update' mensalista.id  %}" style="color:black">{{mensalista.inicio}}</a></td>
                        <td><a href="{%  url 'core_mensalista_update' mensalista.id  %}" style="color:black">{{mensalista.proprietario}}</a></td>
                        <td><a href="{%  url 'core_mensalista_update' mensalista.id  %}" style="color:black">{{mensalista.valor_mes}}</a></td>
                        <td><a href="{%  url 'core_mensalista_update' mensalista.id  %}" style="color:black">{{mensalista.total_mes}}</a></td>
                        <td><a href="{%  url 'core_mensalista_update' mensalista.id  %}" style="color:black">{{mensalista.total_mes_pagar}}</a></td>
                        <td><a href="{%  url 'core_mensalista_update' mensalista.id  %}" style="color:black">{{mensalista.pago}}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                                 
            </table>
        
    </div>
</div>
</main>
 {% include 'core/footer.html' %}
{% endblock %}