{%extends 'base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}
<script> (function () { 
$ (document) .ready (function () { 
$ ("# id_datetime"). datetimepicker (); 
}); 
}) (jQuery); 
</ script> 


{% block main %}


    <div class="row">
        <div class="col-sm-4">
                <h2>Cadastro</h2>
               
            
            <form action="{%  url 'core_pessoa_novo'  %}" method="POST" novalidate >
{% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}


                <button type="submit" class="btn btn-primary" value="cadastrar">Cadastrar</button>
               

            </form>
        </div>
        
        <div class="col-sm-8">
                <h2>Lista Pessoas</h2>
                <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Telefone</th>
                            
                            
                            </tr>
                        </thead>
                        <tbody>
                            {% for pessoa in pessoas %}
                        <tr>
                            <th scope="row" >{{pessoa.id}}</th>
                            <td > <a href="{%  url 'core_pessoa_update' pessoa.id  %}" style="color:black">{{pessoa.nome}} </a></td>
                            <td><a href="{%  url 'core_pessoa_update' pessoa.id  %}" style="color:black">{{pessoa.endereco}}</a></td>
                            <td><a href="{%  url 'core_pessoa_update' pessoa.id  %}" style="color:black">{{pessoa.telefone}}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                </table>
                                    
                           
        </div>
    </div>
{% endblock %}