{%extends 'basenew.html' %}
{% load bootstrap %}

{% block main %}

<main role="main" class="col-md-12 ml-sm-auto col-lg-10 px-50">
<br>
<br>
<div class="row">
    <div class="col-sm-12">
        <h2>UpDating Veiculo: {{ veiculo }}</h2>
        
        <form action="{%  url 'core_veiculo_update' veiculo.id  %}" method="POST">
                
            {% csrf_token %}
            <div class="form-row">
            <div class="form-group col-md-6">
            {{form.marca|bootstrap}}
            </div>
             <div class="form-group col-md-6">
            {{form.modelo|bootstrap}}
            </div>
            </div>
            <div class="form-row">
            <div class="form-group col-md-4">
            {{form.ano|bootstrap}}
            </div>
            <div class="form-group col-md-4">
            {{form.placa|bootstrap}}
             </div>
             <div class="form-group col-md-4">
            {{form.cor|bootstrap}}
            </div>
            </div>
            {{form.proprietario|bootstrap}}
        <div class="row">
         <div class="col-8">
            <button type="submit" class="btn btn-primary">Salvar</button>
                         <a href="{% url 'core_lista_veiculos'%}" class="btn btn-info">Voltar</a> 
            <a href="{% url 'core_veiculo_delete' veiculo.id %}"  class="btn btn-danger">Deletar</a>
            </div>
            </div>
        </form>

    </div>
</div>
</main>
  {% include 'core/footer.html' %}
{% endblock %}